/* Estilos Gerais */
body {
    font-family: 'Oxanium', sans-serif;
    background: #f0f2f5;
    color: #333333;
    line-height: 1.6;
}

/* Container com Degradê */
.main-container {
    background: linear-gradient(to bottom, #e0f4f7, #ffffff);
    padding: 4rem 0;
}

/* Seção Hero */
.hero {
    text-align: center;
    color: #0F1035;
    padding: 4rem 2rem;
    position: relative;
}

.hero h1 {
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #1A3D7C;
}

.hero h2 {
    font-size: 1.9rem;
    margin-bottom: 1.2rem;
    font-weight: 300;
    color: #365486;
}

.hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
    color: #555555;
}

/* Botão Estilizado no Texto */
.inline-btn {
    color: #1A3D7C;
    font-weight: bold;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid #1A3D7C;
}

.inline-btn:hover {
    background-color: #1A3D7C;
    color: #ffffff;
}

/* Destaques da Equipe */
.highlights {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 2rem 4rem;
    flex-wrap: wrap;
}

/* Estilo dos Cards */
.highlight-card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    margin: 1rem;
    min-height: 320px; /* Altura mínima dos cards para uniformidade */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlight-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.highlight-card h3 {
    font-size: 1.6rem;
    color: #1A3D7C;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

/* Botões Específicos para cada Card */
.btn-karoo-chat, .btn-karoo-bot, .btn-alterdata-backup, .btn-bunker {
    display: inline-block;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: #1A3D7C;
    margin-top: auto; /* Alinhamento automático na base do card */
}

/* Hover para todos os botões */
.btn-karoo-chat:hover,
.btn-karoo-bot:hover,
.btn-alterdata-backup:hover,
.btn-bunker:hover {
    background-color: #143060;
}
